@model AgileGame.Models.Card

<div class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-content">
                <h3>Esta es una Partial View</h3>
                <p>Detalle de la Tarjeta</p>
                <p>Titulo: @Model.Titulo</p>
                <p>Descripción: @Model.Descripcion</p>
                <p>Valor $ @Model.Valor</p>
                <p>Esfuerzo hs: @Model.Horas</p>
            </div>
 
    </div>

</div>