<div>
    <i class="material-icons btn" alt="Flujo Acumulado">show_chart</i>
    <i class="material-icons btn" alt="Tiempo Entrega">timelapse</i>
    <i class="material-icons btn" alt="Valor Acumulado">euro_symbol</i>
</div>