
<div class="">
    <i class="small material-icons">casino</i>
    
    <i class="small material-icons" id="lanzar">refresh</i>
    <div class="numero" id="tiro"></div>
</div>

<script type="text/javascript">


    var dice = {
    sides: 10,
    roll: function () {
        var randomNumber = Math.floor(Math.random() * this.sides) + 1;
        return randomNumber;
        }
    }

    $("#lanzar").click(function(){
        $("#tiro").html(dice.roll());
    });
</script>