@page
@model AddCardModel
@{
    ViewData["Title"] = "Agregar Tarjeta";
}

<div class="container">
    <div class="row">
        <h3 >Agregar Tarjeta </h3>
    </div>
    <form class="col s12" asp-asp-controller="AddCard" method="post">
    <div class="input-field col s12">
        Titulo : <input asp-for="Tarjeta.Titulo" class="text" id="" /> 
    </div>
    <div class="input-field col s12">
        Descripción: <input asp-for="Tarjeta.Descripcion" class="text" id=""/>
    </div>
    <div class="input-field col s12">
        Valor: <input asp-for="Tarjeta.Valor" class="number" id=""/>
    </div>
    <input asp-for="Tarjeta.Id" type="hidden"/>
    <div class="row">
        <input type="submit" value="Guardar" class="btn">
        <button asp-controller="Board" asp-action="/Board" class="btn">volver al Tablero</button>
    </div>
    </form>
</div>