@page
@model BoardModel

@{
    ViewData["Title"] = "Tablero Configuración";
    
}

@section Scripts{
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>"
}

<div class="container">

    <h4> Configuración Tablero y Columnas</h4>
        
</div>