@page
@model IndexModel
@{
    ViewData["Title"] = "Juego de Simulación";
}

<div>
    <h1>Bienvenido a Agile Game Kanban</h1>
    <p>El proposito de este juego es familiarizarte con la Metodología Kanban!!!</p>

    <img src="images/Kanban.jpg" width="640px" />

</div>
