@page
@model IndexModel
@{
    ViewData["Title"] = "Kanban Simulación";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Agile Game Kanban</h1>
    <p>El proposito de este juego es familiarizarte con la Metodología Kanban!!!</p>
</div>
