@page
@model InstruccionesModel

<h3>Instrucciones del Juego de Simulación Kanban</h3>

<p>El objetivo del juego es practicar la metodlogía Kanban.</p>

<p>
    <li>Se formará un equipo, de hasta 4 participantes</li> 
    <li>El equipo seleccionará los items a resolver. Los items poseen una descripción, un valor para el cliente expresado en $ o €, y un esfuerzo en horas.</li>
    <li>El sistema avanza por dia.</li>
    <li>Cada participante tira los dados, que representan las horas que aplicará en un dia de trabajo (hasta 10 hs max). Si le sobran puntos puede aplicarlo a otra tarjeta (es decir ayudar a otro compañero).</li>
</p>
