@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<div class="container"> 
<p>Este juego ha sido desarrollado por Julio Rodriguez, con propositos didácticos para Educaria Internacional</p>
<h5>Reconocimientos</h5>
<p>El juego esta inspirado en la versión de FlowBan de Mauro Strione. Podes jugarlo en <a href="https://flowban.herokuapp.com/"> flowban.herokuapp.com </a></p>
<p>Algunas partes del codigo fuente, me ha servido de ejemplo de Practial Kanban, una version de aprendizaje sobre como simular Trello, pueden encontrarlo  <a href="https://practicaldotnet.io/content/PracticalMVC/002-list-kanban-boards-part-1">aqui</a> </p>
</div>