@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Este juego ha sido desarrollado por Julio Rodriguez, con propositos didácticos para Educaria</p>
